<h1 mat-dialog-title>{{action}} todo Form</h1>
<div mat-dialog-content *ngIf="action != 'Delete'; else elseTemplate">
    <form [formGroup]="todoForm">
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input formControlName="title" matInput placeholder="Title">
            <mat-error *ngIf="todoForm.invalid && f.title.errors">
                <div *ngFor="let validation of todo_validation_messages.title">
                    <ng-container *ngIf="todoForm.get('title').hasError(validation.type) ">
                        {{validation.message}}
                    </ng-container>
                </div>
            </mat-error>
        </mat-form-field>
        <div class="form-slider-toggle">        
            <mat-slide-toggle formControlName="completed" > Completed</mat-slide-toggle>
            <mat-error *ngIf="todoForm.invalid && f.completed.errors">
                <div *ngFor="let validation of todo_validation_messages.completed">
                    <ng-container *ngIf="todoForm.get('completed').hasError(validation.type) ">
                        {{validation.message}}
                    </ng-container>
                </div>
            </mat-error>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>User</mat-label>
            <mat-select formControlName="userId" placeholder="User">
                <mat-option [value]="user.id" *ngFor="let user of (userServices.users$  | async)"> {{ user.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="todoForm.invalid && f.userId.errors">
                <div *ngFor="let validation of todo_validation_messages.userId">
                    <ng-container *ngIf="todoForm.get('userId').hasError(validation.type) ">
                        {{validation.message}}
                    </ng-container>
                </div>
            </mat-error>
        </mat-form-field>
    </form>
</div>
<ng-template #elseTemplate>
    <p>Sure to delete <b>ID:</b> {{local_data.id}} ?</p> 
    <p>  <b>Title:</b> {{local_data.title}} </p>
    <p>  <b>Completed:</b> <button mat-icon-button [color]="local_data.completed ? 'primary':'warn'"> <mat-icon>{{local_data.completed ? 'check':'close'}}</mat-icon></button> </p>
</ng-template>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" (click)="doAction()">{{action}}</button>
</div>