<h1 mat-dialog-title>{{action}} Album Form</h1>
<div mat-dialog-content *ngIf="action != 'Delete'; else elseTemplate">
    <form [formGroup]="albumForm">
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input formControlName="title" matInput placeholder="Title">
            <mat-error *ngIf="albumForm.invalid && f.title.errors">
                <div *ngFor="let validation of album_validation_messages.title">
                    <ng-container *ngIf="albumForm.get('title').hasError(validation.type) ">
                        {{validation.message}}
                    </ng-container>
                </div>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>User</mat-label>
            <mat-select formControlName="userId" placeholder="User">
                <mat-option [value]="user.id" *ngFor="let user of (userServices.users$  | async)"> {{ user.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="albumForm.invalid && f.userId.errors">
                <div *ngFor="let validation of album_validation_messages.userId">
                    <ng-container *ngIf="albumForm.get('userId').hasError(validation.type) ">
                        {{validation.message}}
                    </ng-container>
                </div>
            </mat-error>
        </mat-form-field>
    </form>
</div>
<ng-template #elseTemplate>
    <p>Sure to delete <b>ID:</b> {{local_data.id}} ?</p> 
    <p>  <b>Title:</b> {{local_data.title}} </p>
</ng-template>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" (click)="doAction()">{{action}}</button>
</div>