<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="container">
            <span>Jainner Salas</span>
            <span class="example-spacer"></span>
            <button
                (click)="handleClick()"
                mat-icon-button
                class="example-icon"
                matBadgeSize="small"
                aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
