.item-menu {
    display: flex;
    flex-direction: column;

}
.list {
    padding: 1rem;
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
}
.mat-icon {
    margin-right: 8px;
}
.menu-button.active{
    background: rgb(63 81 181 / 15%);
    color: #3f51b5;
}