<div class="list">
    <div class="item-menu">
        <button mat-button class="menu-button" [routerLink]="'/'">
            <mat-icon>assignment</mat-icon>
            <span>Todos</span>
        </button>
        <button mat-button class="menu-button" [routerLink]="'/posts'" routerLinkActive="active">
            <mat-icon>view_list</mat-icon>
            <span>Posts</span>
        </button>
        <button mat-button class="menu-button" [routerLink]="'/albums'" routerLinkActive="active">
            <mat-icon>collections</mat-icon>
            <span>Albums</span>
        </button>
    </div>
</div>
