<h4 class="my-0">{{data.type | titlecase}}</h4> 
<div class="mat-simple-snackbar">
    <span>{{data.message}}</span>
    <button mat-button mat-button-base (click)="snackBarRef.dismiss()">{{data.buttonText}}</button>
</div>