<mat-drawer-container autosize>
    <mat-drawer #drawer class="content-sidenav" mode="push" position="end">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>Menu</span>
          <span class="example-spacer"></span>
          <button mat-icon-button (click)="onToggle()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
      <app-menu></app-menu>
    </mat-drawer>
    <mat-drawer-content class="content-main">
        <app-header (toggle)="onToggle()"></app-header>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>