/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* Layout */
.content {
    padding: 0;
    position: relative;
    transition: 300ms ease all;
    backface-visibility: hidden;
    min-height: calc(100% - 64px);
}
.app-content {
    overflow-x: hidden;
}
.content-wrapper {
    padding: .38rem 30px;
    overflow: hidden;
}
.content-header {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.content-body {
    margin-top: 30px;
}
/* Table */
table {
    width: 100%;
}
  
th.mat-sort-header-sorted {
    color: black;
}
.app-content  .mat-form-field {
    font-size: 14px;
    min-width: 80%;
}
.content-button-row {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1rem;
}
.truncate-cell {
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mat-paginator-container .mat-form-field {
    min-width: 40%;
}
.mat-paginator-page-size-label {
    min-width: 60%;
}
/* Notifier */
.error.mat-snack-bar-container{
    background: #cc0000;
    color: white;
}

.success.mat-snack-bar-container{
    background: #00cc00;
    color: white;
}