<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header"></div>
        <section class="content-body">
            <div class="mat-elevation-z8">
                <div class="content-button-row">
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
                    </mat-form-field>
                    <button mat-raised-button color="accent" (click)="openDialog('Add',{})"> <mat-icon>add</mat-icon> Add Todo</button>    
                </div>            
                <table mat-table [dataSource]="dataSource" matSort >            
                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
                    <!-- ID Column -->
                    <ng-container matColumnDef="userId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.userId | extractUserName}} </td>
                    </ng-container>
                    <!-- Title Column -->
                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                        <td mat-cell *matCellDef="let element" class="truncate-cell" [matTooltip]="element.title"> {{element.title}} </td>
                    </ng-container>
                    
                    <!-- Completed Column -->
                    <ng-container matColumnDef="completed">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Completed </th>
                        <td mat-cell *matCellDef="let element" ><button mat-icon-button [color]="element.completed ? 'primary':'warn'"> <mat-icon>{{element.completed ? 'check':'close'}}</mat-icon></button></td>
                    </ng-container>
    
                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef > Action </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="primary" (click)="openDialog('Update',element)"><mat-icon>edit</mat-icon></button>
                            <button mat-icon-button color="warn" (click)="openDialog('Delete',element)"> <mat-icon>delete</mat-icon></button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </section>
    </div>
</div>